@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
@font-face {
  font-family: 'MuseoSansCyrl';
  src: url("fonts/Museo-Sans-Cyr/MuseoSansCyrl.otf");
}
* {
  margin: 0;
  padding: 0;
}
/* начало() ДОП СТИЛИ ДЛЯ ОФОРМЛЕНИЯ блоков и текстов */
::-webkit-scrollbar {
  overflow: visible;
  height: 7px;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 0 solid transparent;
  min-height: 28px;
  padding: 100px 0 0;
  background-color: #2b2b2a;
  box-shadow: inset 1px 1px 0 rgba(0,0,0,0.1), inset 0 -1px 0 rgba(0,0,0,0.07);
  border-radius: 10px;
  margin: 0 2px;
}
::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}
::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 2px;
}
::selection {
  background: #c6ffce;
  color: #000;
}
::-moz-selection {
  background: #c6ffce;
  color: #000;
}
body {
  color: #000;
  line-height: 24px;
  font-size: 18px;
  font-weight: 100;
}
.wrap {
  max-width: 1280px;
  display: block;
  position: relative;
  margin: auto;
  padding: 0 10px;
  min-width: 480px;
  font-family: 'PT Sans', sans-serif;
}
.wrap h1 {
  font-family: 'Open Sans Condensed', sans-serif !important;
}
.warning {
  background: #ffccb5;
  padding: 20px;
}
/* конец() ДОП СТИЛИ ДЛЯ ОФОРМЛЕНИЯ блоков и текстов */
/* 
        ###############

       начало()
       СТИЛИ ДЛЯ КАЛЕНДАРЯ ФЕСТИВАЛЕЙ

        ############### 
*/
/* 
        ###############

       конец()
       СТИЛИ ДЛЯ КАЛЕНДАРЯ ФЕСТИВАЛЕЙ

        ############### 
*/
@media screen and (min-width: 1300px) {
  header {
    max-width: 1300px;
    width: 100%;
    height: 100px;
    background: #fff;
    margin: 0 auto;
  }
  .root-page-style {
    margin: 0 auto;
    max-width: 1300px;
    background: #fff;
  }
  .nav-mobile {
    display: none;
  }
  .header_top {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .header-top-logo {
    padding: 30px;
  }
  .header-top-text {
    font-family: 'MuseoSans', 'Open Sans', Arial, sans-serif;
    color: #000;
    line-height: 34px;
    font-size: 25px;
    font-weight: 100;
    width: 400px;
    text-align: center;
    color: #fff;
  }
  .btn {
    background: #38d119;
    background-image: -webkit-linear-gradient(top, #38d119, #138f13);
    background-image: -moz-linear-gradient(top, #38d119, #138f13);
    background-image: -ms-linear-gradient(top, #38d119, #138f13);
    background-image: -o-linear-gradient(top, #38d119, #138f13);
    background-image: linear-gradient(to bottom, #38d119, #138f13);
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    font-family: Arial;
    color: #fff;
    font-size: 25px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  .btn:hover {
    background: #138f13;
    background-image: -webkit-linear-gradient(top, #138f13, #38d119);
    background-image: -moz-linear-gradient(top, #138f13, #38d119);
    background-image: -ms-linear-gradient(top, #138f13, #38d119);
    background-image: -o-linear-gradient(top, #138f13, #38d119);
    background-image: linear-gradient(to bottom, #138f13, #38d119);
    text-decoration: none;
  }
  .header-top-phone {
    font-family: 'MuseoSans', 'Open Sans', Arial, sans-serif;
    color: #000;
    line-height: 24px;
    font-size: 27px;
    font-weight: 100;
    text-align: center;
  }
  .header-top-phone p {
    font-size: 10px;
    font-size: 17px;
    color: #777;
  }
  .social {
    padding: 30px;
  }
  .social i {
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 25px;
  }
  .social a {
    color: #111;
  }
  nav {
    width: 100%;
    background: #eee;
    text-align: center;
    margin-top: 40px;
  }
  .nav-menu ul li {
    display: inline;
    text-transform: uppercase;
    padding-left: 40px;
  }
  .nav-menu a {
    color: #111;
    font-family: 'MuseoSans', 'Open Sans', Arial, sans-serif;
    text-decoration: none;
    font-size: 20px;
  }
  ul {
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style: none;
  }
  ul li {
    display: inline-block;
    margin-right: -4px;
    position: relative;
    cursor: pointer;
  }
  ul li a {
    text-decoration: none;
    font-size: 22px;
    color: #111;
    padding: 15px 20px;
    display: block;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    font-family: 'MuseoSans', 'Open Sans', Arial, sans-serif;
  }
  ul li a.arrow::after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #333;
    content: "";
    position: absolute;
    right: 5px;
    top: 45%;
    z-index: 999;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  ul li:hover a.arrow::after {
    border-top-color: #fff;
  }
  ul li:hover a {
    background: #fff;
    color: #111;
  }
  ul li ul {
    padding: 0;
    position: absolute;
    top: 48px;
    left: 0;
    width: 200px;
    -webkit-box-shadow: 4px 1px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 4px 1px 1px rgba(0,0,0,0.3);
    box-shadow: 4px 1px 1px rgba(0,0,0,0.3);
    opacity: 0;
    visibility: hidden;
  }
  ul li ul li {
    background: #fff;
    display: block;
    color: #111;
    height: 0px;
    overflow: hidden;
    -webkit-transiton: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
  }
  ul li:hover ul li {
    height: auto;
  }
  ul li ul li:hover a {
    background: #eee;
  }
  ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  #modal1 {
    display: none;
  }
  .modal_div {
    width: 300px;
    height: 100vh;
    background: #fff;
    position: fixed;
    opacity: 0;
    z-index: 5;
    padding: 20px 10px;
    top: 0;
    display: none;
  }
  .modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 19px;
    cursor: pointer;
    display: block;
    font-size: 27px;
  }
  #overlay {
    z-index: 3;
    position: fixed;
    background-color: #000;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
  }
  .banner-top {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 500px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/MG_2259.jpg");
    background-size: cover;
  }
  .banner-top-text {
    font-size: 90px;
    text-align: center;
    width: 900px;
    margin: 0 auto;
    vertical-align: middle;
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif !important;
    line-height: 45px;
  }
  .kalendar-top {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 600px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/102812261258edb55fc2809.jpg");
    background-size: cover;
  }
  .kalendar-top-text {
    font-size: 90px;
    text-align: left;
    width: 900px;
    margin: 0 auto;
    vertical-align: middle;
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif !important;
  }
  .kalendar-top-text-p {
    padding-top: 20px;
  }
  .kalendar-top-text p {
    font-size: 26px;
  }
  .kalendar-forms {
    width: 100%;
  }
  label {
    font-size: 20px;
  }
  input {
    font-size: 20px;
    padding: 10px;
    width: 80%;
  }
  .clear {
    padding: 10px;
  }
  .input-p {
    padding-top: 30px;
  }
  input[type=submit]:hover {
    padding: 5px 15px;
    background: #e8ff67;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 300px;
    color: #111;
    height: 50px;
    border: 2px solid #adffcf;
  }
  input[type=submit] {
    padding: 5px 15px;
    background: #20a100;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 300px;
    color: #fff;
    height: 50px;
    border: 2px solid #adffcf;
    margin: 20px;
  }
  .body-text-div {
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    font-family: 'MuseoSans', 'Open Sans', Arial, sans-serif;
  }
  .body-text-div p {
    padding: 10px;
  }
  .body-text {
    padding-top: 3%;
    font-size: 25px;
    color: #111;
  }
  .body-text h1 {
    padding-left: 10%;
    font-size: 3em;
    color: #111;
    text-align: left;
    font-family: 'MuseoSans', 'Open Sans', Arial, sans-serif;
  }
  ul.page-text-ul {
    font-size: 20px;
    margin: 20px;
    display: block;
    width: 300px;
    white-space: nowrap;
  }
  .clear1 {
    padding: 5px;
  }
  .title-style1,
  h1 {
    display: block;
    font-size: 96px;
    line-height: 96px;
    font-weight: 100;
    margin: 40px 0;
  }
  .block-top-text {
    background: #eee;
    padding: 20px;
    font-size: 22px;
    font-family: 'PT Sans', sans-serif;
  }
  .block-top-text1 {
    padding: 20px;
    font-size: 22px;
    font-family: 'PT Sans', sans-serif;
  }
  .block-top-text-victory {
    font-size: 22px;
    font-family: 'PT Sans', sans-serif;
    line-height: 30px;
    margin: 20px;
  }
  .block-top-text1 h2 {
    color: #20a100;
    padding: 30px;
    font-family: 'Open Sans Condensed', sans-serif !important;
    font-size: 40px !important;
  }
  .block-top-text-victory h2 {
    color: #111;
    padding: 30px;
    font-family: 'Open Sans Condensed', sans-serif !important;
    font-size: 40px !important;
    line-height: 45px;
  }
  .block-top-text-adress {
    background: #eee;
    margin: 20px 20px 20px 0;
    padding: 20px;
  }
  .block-top-text-adress span {
    color: #111;
  }
  .block-top-text-bold {
    font-size: 22px;
    padding: 15px;
  }
  .block-top-text-bold>p {
    padding: 10px;
    font-size: 17px;
  }
  .block-top-text-border {
    padding: 20px;
    border: 1px solid #333;
    border-radius: 20px;
    line-height: 30px;
    font-family: 'PT Sans', sans-serif;
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #6a6768;
    color: #fff;
    width: 100%;
    height: 100px;
    margin: 40px 40px 0 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 19px;
  }
  #f-menu a {
    color: #fff;
    font-size: 19px;
    font-family: 'Open Sans Condensed', sans-serif;
  }
  #f-menu a:hover {
    color: #fff;
    font-size: 19px;
    background-color: #6a6768;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1299px) {
  header {
    max-width: 1300px;
    width: 100%;
    height: 100px;
    background: #fff;
    margin: 0 auto;
  }
  .root-page-style {
    margin: 0 auto;
    max-width: 1300px;
    background: #fff;
  }
  .nav-mobile {
    display: none;
  }
  .social-mobile {
    display: none;
  }
  .header_top {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .header-top-logo {
    padding: 30px;
    text-align: center;
  }
  .header-top-logo img {
    width: 80%;
    text-align: center;
  }
  .header-top-text {
    font-family: 'MuseoSans', 'Open Sans', Arial, sans-serif;
    color: #000;
    line-height: 34px;
    font-size: 25px;
    font-weight: 100;
    width: 340px;
    text-align: left;
    color: #fff;
    white-space: nowrap;
  }
  .btn {
    background: #38d119;
    background-image: -webkit-linear-gradient(top, #38d119, #138f13);
    background-image: -moz-linear-gradient(top, #38d119, #138f13);
    background-image: -ms-linear-gradient(top, #38d119, #138f13);
    background-image: -o-linear-gradient(top, #38d119, #138f13);
    background-image: linear-gradient(to bottom, #38d119, #138f13);
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    font-family: Arial;
    color: #fff;
    font-size: 21px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  .btn:hover {
    background: #138f13;
    background-image: -webkit-linear-gradient(top, #138f13, #38d119);
    background-image: -moz-linear-gradient(top, #138f13, #38d119);
    background-image: -ms-linear-gradient(top, #138f13, #38d119);
    background-image: -o-linear-gradient(top, #138f13, #38d119);
    background-image: linear-gradient(to bottom, #138f13, #38d119);
    text-decoration: none;
  }
  .header-top-phone {
    font-family: 'MuseoSans', 'Open Sans', Arial, sans-serif;
    color: #000;
    line-height: 24px;
    font-size: 24px;
    font-weight: 100;
    text-align: center;
    white-space: nowrap;
  }
  .header-top-phone p {
    font-size: 10px;
    font-size: 15px;
    color: #777;
  }
  .social {
    padding: 30px;
  }
  .social i {
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 20px;
  }
  .social a {
    color: #111;
  }
  nav {
    width: 100%;
    background: #eee;
    text-align: center;
    margin-top: 40px;
  }
  .nav-menu ul li {
    display: inline;
    text-transform: uppercase;
    padding-left: 40px;
  }
  .nav-menu a {
    color: #111;
    font-family: 'MuseoSans', 'Open Sans', Arial, sans-serif;
    text-decoration: none;
    font-size: 17px;
  }
  ul {
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style: none;
  }
  ul li {
    display: inline-block;
    margin-right: -4px;
    position: relative;
    cursor: pointer;
  }
  ul li a {
    text-decoration: none;
    font-size: 19px;
    color: #111;
    padding: 15px 20px;
    display: block;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    font-family: 'MuseoSans', 'Open Sans', Arial, sans-serif;
  }
  ul li a.arrow::after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #333;
    content: "";
    position: absolute;
    right: 5px;
    top: 45%;
    z-index: 999;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  ul li:hover a.arrow::after {
    border-top-color: #fff;
  }
  ul li:hover a {
    background: #fff;
    color: #111;
  }
  ul li ul {
    padding: 0;
    position: absolute;
    top: 48px;
    left: 0;
    width: 200px;
    -webkit-box-shadow: 4px 1px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 4px 1px 1px rgba(0,0,0,0.3);
    box-shadow: 4px 1px 1px rgba(0,0,0,0.3);
    opacity: 0;
    visibility: hidden;
  }
  ul li ul li {
    background: #fff;
    display: block;
    color: #111;
    height: 0px;
    overflow: hidden;
    -webkit-transiton: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
  }
  ul li:hover ul li {
    height: auto;
  }
  ul li ul li:hover a {
    background: #eee;
  }
  ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  .banner-top {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 400px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/MG_2259.jpg");
    background-size: cover;
  }
  .banner-top-text {
    font-size: 35px;
    text-align: center;
    width: 700px;
    margin: 0 auto;
    vertical-align: middle;
    color: #fff;
    font-family: 'MuseoSans', 'Open Sans', Arial, sans-serif;
  }
  .modal_div {
    width: 300px;
    height: 100vh;
    background: #fff;
    position: fixed;
    display: none;
    opacity: 0;
    z-index: 5;
    padding: 20px 10px;
    top: 0;
  }
  .modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 19px;
    cursor: pointer;
    display: block;
    font-size: 27px;
  }
  #overlay {
    z-index: 3;
    position: fixed;
    background-color: #000;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
  }
  #modal1 {
    display: none;
  }
}
.kalendar-top {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 600px;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/102812261258edb55fc2809.jpg");
  background-size: cover;
}
.kalendar-top-text {
  font-size: 60px;
  text-align: left;
  width: 900px;
  margin: 0 auto;
  vertical-align: middle;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif !important;
}
.kalendar-top-text-p {
  padding-top: 20px;
}
.kalendar-top-text p {
  font-size: 21px;
}
.kalendar-forms {
  width: 100%;
}
label {
  font-size: 17px;
}
input {
  font-size: 17px;
  padding: 10px;
  width: 80%;
}
.clear {
  padding: 10px;
}
.input-p {
  padding-top: 30px;
}
input[type=submit]:hover {
  padding: 5px 15px;
  background: #e8ff67;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 250px;
  color: #111;
  height: 50px;
  border: 2px solid #adffcf;
}
input[type=submit] {
  padding: 5px 15px;
  background: #20a100;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 250px;
  color: #fff;
  height: 50px;
  border: 2px solid #adffcf;
  margin: 20px;
}
.title-style1,
h1 {
  display: block;
  font-size: 79px;
  line-height: 96px;
  font-weight: 100;
  margin: 40px 0;
  color: #111;
}
.banner-top-text {
  font-size: 40px;
  text-align: center;
  width: 700px;
  margin: 0 auto;
  vertical-align: middle;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif !important;
  line-height: 45px;
}
.block-top-text {
  background: #eee;
  padding: 20px;
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
}
.block-top-text1 {
  font-size: 22px;
  font-family: 'PT Sans', sans-serif;
}
.block-top-text-victory {
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
  line-height: 30px;
  margin: 20px;
}
.block-top-text1 h2 {
  color: #20a100;
  padding: 30px 30px 30px 0;
  font-family: 'Open Sans Condensed', sans-serif !important;
  font-size: 35px !important;
  line-height: 37px;
}
.block-top-text-victory h2 {
  color: #111;
  padding: 0 30px 30px 0;
  font-family: 'Open Sans Condensed', sans-serif !important;
  font-size: 35px !important;
  line-height: 45px;
}
.block-top-text-adress {
  background: #eee;
  margin: 20px 20px 20px 0;
  padding: 20px;
}
.block-top-text-adress span {
  color: #111;
}
.block-top-text-bold {
  font-size: 20px;
  padding: 15px;
}
.block-top-text1>p {
  font-size: 20px;
}
.block-top-text-border {
  padding: 20px;
  border: 1px solid #333;
  border-radius: 20px;
  line-height: 30px;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #6a6768;
  color: #fff;
  width: 100%;
  height: 100px;
  margin: 40px 40px 0 0;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 19px;
}
#f-menu a {
  color: #fff;
  font-size: 19px;
  font-family: 'Open Sans Condensed', sans-serif;
}
#f-menu a:hover {
  color: #fff;
  font-size: 19px;
  background-color: #6a6768;
}
@media screen and (min-width: 850px) and (max-width: 999px) {
  header {
    max-width: 1300px;
    width: 100%;
    height: 100px;
    background: #fff;
    margin: 0 auto;
  }
  .root-page-style {
    margin: 0 auto;
    max-width: 1300px;
    background: #fff;
  }
  .nav-mobile {
    display: none;
  }
  .header_top {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .header-top-logo {
    padding: 30px;
    text-align: center;
  }
  .header-top-logo img {
    width: 80%;
    text-align: center;
  }
  .header-top-text {
    font-family: 'MuseoSans', 'Open Sans', Arial, sans-serif;
    color: #000;
    font-size: 20px;
    text-align: center;
    color: #fff;
    white-space: nowrap;
    padding: 20px;
  }
  .btn {
    background: #38d119;
    background-image: -webkit-linear-gradient(top, #38d119, #138f13);
    background-image: -moz-linear-gradient(top, #38d119, #138f13);
    background-image: -ms-linear-gradient(top, #38d119, #138f13);
    background-image: -o-linear-gradient(top, #38d119, #138f13);
    background-image: linear-gradient(to bottom, #38d119, #138f13);
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    font-family: Arial;
    color: #fff;
    font-size: 17px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  .btn:hover {
    background: #138f13;
    background-image: -webkit-linear-gradient(top, #138f13, #38d119);
    background-image: -moz-linear-gradient(top, #138f13, #38d119);
    background-image: -ms-linear-gradient(top, #138f13, #38d119);
    background-image: -o-linear-gradient(top, #138f13, #38d119);
    background-image: linear-gradient(to bottom, #138f13, #38d119);
    text-decoration: none;
  }
  .header-top-phone {
    font-family: 'MuseoSans', 'Open Sans', Arial, sans-serif;
    color: #000;
    line-height: 24px;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    white-space: nowrap;
  }
  .header-top-phone p {
    font-size: 10px;
    font-size: 17px;
    color: #777;
  }
  .social {
    padding: 30px;
  }
  .social i {
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 13px;
  }
  .social a {
    color: #111;
  }
  nav {
    width: 100%;
    background: #eee;
    text-align: center;
    margin-top: 40px;
  }
  .nav-menu ul li {
    display: inline;
    text-transform: uppercase;
    padding-left: 40px;
  }
  .nav-menu a {
    color: #111;
    font-family: 'MuseoSans', 'Open Sans', Arial, sans-serif;
    text-decoration: none;
    font-size: 20px;
  }
  ul {
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style: none;
  }
  ul li {
    display: inline-block;
    margin-right: -4px;
    position: relative;
    cursor: pointer;
  }
  ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #111;
    padding: 15px 20px;
    display: block;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    font-family: 'MuseoSans', 'Open Sans', Arial, sans-serif;
  }
  ul li a.arrow::after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #333;
    content: "";
    position: absolute;
    right: 5px;
    top: 45%;
    z-index: 999;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  ul li:hover a.arrow::after {
    border-top-color: #fff;
  }
  ul li:hover a {
    background: #fff;
    color: #111;
  }
  ul li ul {
    padding: 0;
    position: absolute;
    top: 48px;
    left: 0;
    width: 200px;
    -webkit-box-shadow: 4px 1px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 4px 1px 1px rgba(0,0,0,0.3);
    box-shadow: 4px 1px 1px rgba(0,0,0,0.3);
    opacity: 0;
    visibility: hidden;
  }
  ul li ul li {
    background: #fff;
    display: block;
    color: #111;
    height: 0px;
    overflow: hidden;
    -webkit-transiton: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
  }
  ul li:hover ul li {
    height: auto;
  }
  ul li ul li:hover a {
    background: #eee;
  }
  ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  .banner-top {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 400px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/MG_2259.jpg");
    background-size: cover;
  }
  .banner-top-text {
    font-size: 30px;
    text-align: center;
    width: 600px;
    margin: 0 auto;
    vertical-align: middle;
    color: #fff;
    font-family: 'MuseoSans', 'Open Sans', Arial, sans-serif;
  }
  .modal_div {
    width: 300px;
    height: 100vh;
    background: #fff;
    position: fixed;
    display: none;
    opacity: 0;
    z-index: 5;
    padding: 20px 10px;
    top: 0;
  }
  .modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 19px;
    cursor: pointer;
    display: block;
    font-size: 27px;
  }
  #overlay {
    z-index: 3;
    position: fixed;
    background-color: #000;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
  }
  #modal1 {
    display: none;
  }
  .kalendar-top {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 600px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/102812261258edb55fc2809.jpg");
    background-size: cover;
  }
  .kalendar-top-text {
    font-size: 60px;
    text-align: center;
    width: 900px;
    margin: 0 auto;
    vertical-align: middle;
    color: #fff;
    font-family: 'MuseoSans', 'Open Sans', Arial, sans-serif;
  }
  .kalendar-top-text p {
    font-size: 21px;
    text-align: center;
  }
  .kalendar-forms {
    width: 100%;
    text-align: center;
  }
  label {
    font-size: 17px;
  }
  input {
    font-size: 17px;
    padding: 10px;
    width: 80%;
  }
  .clear {
    padding: 10px;
  }
  .input-p {
    padding-top: 30px;
  }
  input[type=submit]:hover {
    padding: 5px 15px;
    background: #e8ff67;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 250px;
    color: #111;
    height: 50px;
    border: 2px solid #adffcf;
  }
  input[type=submit] {
    padding: 5px 15px;
    background: #20a100;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 250px;
    color: #fff;
    height: 50px;
    border: 2px solid #adffcf;
  }
  .title-style1,
  h1 {
    display: block;
    font-size: 60px;
    line-height: 76px;
    font-weight: 100;
    margin: 40px 0;
    color: #111;
  }
  .banner-top-text {
    font-size: 35px;
    text-align: center;
    width: 600px;
    margin: 0 auto;
    vertical-align: middle;
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif !important;
    line-height: 39px;
  }
  .block-top-text {
    background: #eee;
    padding: 20px;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
  }
  .block-top-text1 {
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
  }
  .block-top-text-victory {
    margin: 20px;
    font-size: 19px;
    font-family: 'PT Sans', sans-serif;
    line-height: 30px;
  }
  .block-top-text1 h2 {
    color: #20a100;
    padding: 30px 30px 30px 0;
    font-family: 'Open Sans Condensed', sans-serif !important;
    font-size: 30px !important;
  }
  .block-top-text-victory h2 {
    color: #111;
    padding: 0 30px 30px 0;
    font-family: 'Open Sans Condensed', sans-serif !important;
    font-size: 30px !important;
    line-height: 45px;
  }
  .block-top-text-adress {
    background: #eee;
    margin: 20px 20px 20px 0;
    padding: 20px;
  }
  .block-top-text-adress span {
    color: #111;
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #6a6768;
    color: #fff;
    width: 100%;
    height: 100px;
    margin: 40px 40px 0 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 19px;
  }
  #f-menu a {
    color: #fff;
    font-size: 19px;
    font-family: 'Open Sans Condensed', sans-serif;
  }
  #f-menu a:hover {
    color: #fff;
    font-size: 19px;
    background-color: #6a6768;
  }
}
@media screen and (min-width: 650px) and (max-width: 849px) {
  header {
    max-width: 1300px;
    width: 100%;
    height: 100px;
    background: #fff;
    margin: 0 auto;
  }
  .root-page-style {
    margin: 0 auto;
    max-width: 1300px;
    background: #fff;
  }
  .nav-mobile {
    display: none;
  }
  .header_top {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .header-top-logo {
    padding-top: 30px;
    text-align: center;
  }
  .header-top-logo img {
    width: 80%;
    text-align: center;
  }
  .header-top-text {
    font-family: 'MuseoSans', 'Open Sans', Arial, sans-serif;
    color: #000;
    font-size: 20px;
    text-align: center;
    color: #fff;
    white-space: nowrap;
    padding: 20px;
  }
  .btn {
    background: #38d119;
    background-image: -webkit-linear-gradient(top, #38d119, #138f13);
    background-image: -moz-linear-gradient(top, #38d119, #138f13);
    background-image: -ms-linear-gradient(top, #38d119, #138f13);
    background-image: -o-linear-gradient(top, #38d119, #138f13);
    background-image: linear-gradient(to bottom, #38d119, #138f13);
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    font-family: Arial;
    color: #fff;
    font-size: 17px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  .btn:hover {
    background: #138f13;
    background-image: -webkit-linear-gradient(top, #138f13, #38d119);
    background-image: -moz-linear-gradient(top, #138f13, #38d119);
    background-image: -ms-linear-gradient(top, #138f13, #38d119);
    background-image: -o-linear-gradient(top, #138f13, #38d119);
    background-image: linear-gradient(to bottom, #138f13, #38d119);
    text-decoration: none;
  }
  .header-top-phone {
    font-family: 'MuseoSans', 'Open Sans', Arial, sans-serif;
    color: #000;
    line-height: 24px;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    white-space: nowrap;
  }
  .header-top-phone p {
    font-size: 10px;
    font-size: 17px;
    color: #777;
  }
  .social {
    padding: 30px;
    display: none;
  }
  .social i {
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 13px;
  }
  .social a {
    color: #111;
  }
  nav {
    width: 100%;
    background: #eee;
    text-align: center;
    margin-top: 40px;
  }
  .nav-menu ul li {
    display: inline;
    text-transform: uppercase;
    padding-left: 40px;
  }
  .nav-menu a {
    color: #111;
    font-family: 'MuseoSans', 'Open Sans', Arial, sans-serif;
    text-decoration: none;
    font-size: 20px;
  }
  ul {
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style: none;
  }
  ul li {
    display: inline-block;
    margin-right: -4px;
    position: relative;
    cursor: pointer;
  }
  ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #111;
    padding: 15px 20px;
    display: block;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    font-family: 'MuseoSans', 'Open Sans', Arial, sans-serif;
  }
  ul li a.arrow::after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #333;
    content: "";
    position: absolute;
    right: 5px;
    top: 45%;
    z-index: 999;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  ul li:hover a.arrow::after {
    border-top-color: #fff;
  }
  ul li:hover a {
    background: #fff;
    color: #111;
  }
  ul li ul {
    padding: 0;
    position: absolute;
    top: 48px;
    left: 0;
    width: 200px;
    -webkit-box-shadow: 4px 1px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 4px 1px 1px rgba(0,0,0,0.3);
    box-shadow: 4px 1px 1px rgba(0,0,0,0.3);
    opacity: 0;
    visibility: hidden;
  }
  ul li ul li {
    background: #fff;
    display: block;
    color: #111;
    height: 0px;
    overflow: hidden;
    -webkit-transiton: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
  }
  ul li:hover ul li {
    height: auto;
  }
  ul li ul li:hover a {
    background: #eee;
  }
  ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  .banner-top {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 400px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/MG_2259.jpg");
    background-size: cover;
  }
  .banner-top-text {
    font-size: 30px;
    text-align: center;
    width: 600px;
    margin: 0 auto;
    vertical-align: middle;
    color: #fff;
    font-family: 'MuseoSans', 'Open Sans', Arial, sans-serif;
  }
  .modal_div {
    width: 300px;
    height: 100vh;
    background: #fff;
    position: fixed;
    display: none;
    opacity: 0;
    z-index: 5;
    padding: 20px 10px;
    top: 0;
  }
  .modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 19px;
    cursor: pointer;
    display: block;
    font-size: 27px;
  }
  #overlay {
    z-index: 3;
    position: fixed;
    background-color: #000;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
  }
  #modal1 {
    display: none;
  }
  .kalendar-top {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 600px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/102812261258edb55fc2809.jpg");
    background-size: cover;
  }
  .kalendar-top-text {
    font-size: 53px;
    text-align: center;
    width: 900px;
    margin: 0 auto;
    vertical-align: middle;
    color: #fff;
    font-family: 'MuseoSans', 'Open Sans', Arial, sans-serif;
  }
  .kalendar-top-text p {
    font-size: 19px;
    text-align: center;
  }
  .kalendar-forms {
    width: 100%;
    text-align: center;
  }
  label {
    font-size: 16px;
  }
  input {
    font-size: 16px;
    padding: 10px;
    width: 80%;
  }
  .clear {
    padding: 10px;
  }
  .input-p {
    padding-top: 30px;
  }
  input[type=submit]:hover {
    padding: 5px 15px;
    background: #e8ff67;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 250px;
    color: #111;
    height: 50px;
    border: 2px solid #adffcf;
  }
  input[type=submit] {
    padding: 5px 15px;
    background: #20a100;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 250px;
    color: #fff;
    height: 50px;
    border: 2px solid #adffcf;
  }
  .title-style1,
  h1 {
    display: block;
    font-size: 50px;
    line-height: 56px;
    font-weight: 100;
    margin: 40px 0;
    color: #111;
  }
  .banner-top-text {
    font-size: 30px;
    text-align: center;
    width: 600px;
    margin: 0 auto;
    vertical-align: middle;
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif !important;
    line-height: 39px;
  }
  .block-top-text {
    background: #eee;
    padding: 20px;
    font-size: 19px;
    font-family: 'PT Sans', sans-serif;
  }
  .block-top-text1 {
    font-size: 19px;
    font-family: 'PT Sans', sans-serif;
  }
  .block-top-text-victory {
    margin: 20px;
    font-size: 17px;
    font-family: 'PT Sans', sans-serif;
    line-height: 30px;
  }
  .block-top-text1 h2 {
    color: #20a100;
    padding: 30px 30px 30px 0;
    font-family: 'Open Sans Condensed', sans-serif !important;
    font-size: 27px !important;
  }
  .block-top-text-victory h2 {
    color: #111;
    font-family: 'Open Sans Condensed', sans-serif !important;
    font-size: 27px !important;
    line-height: 35px;
  }
  .block-top-text-adress {
    background: #eee;
    margin: 20px 20px 20px 0;
    padding: 20px;
  }
  .block-top-text-adress span {
    color: #111;
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #6a6768;
    color: #fff;
    width: 100%;
    height: 100px;
    margin: 40px 40px 0 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 19px;
  }
  #f-menu a {
    color: #fff;
    font-size: 19px;
    font-family: 'Open Sans Condensed', sans-serif;
  }
  #f-menu a:hover {
    color: #fff;
    font-size: 19px;
    background-color: #6a6768;
  }
}
@media screen and (min-width: 320px) and (max-width: 649px) {
  header {
    max-width: 650px;
    width: 100%;
    height: auto;
    background: #fff;
    margin: 0 auto;
  }
  .root-page-style {
    margin: 0 auto;
    max-width: 1300px;
    background: #fff;
  }
  .nav-mobile {
    width: 100%;
    background: #eee;
    text-align: center;
    margin-top: 40px;
  }
  .header_top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .header-top-logo {
    padding-top: 30px;
    text-align: center;
  }
  .header-top-logo img {
    width: 80%;
    text-align: center;
  }
  .header-top-text {
    font-family: 'MuseoSans', 'Open Sans', Arial, sans-serif;
    color: #000;
    font-size: 20px;
    text-align: center;
    color: #fff;
    white-space: nowrap;
    padding: 20px;
  }
  .btn {
    background: #38d119;
    background-image: -webkit-linear-gradient(top, #38d119, #138f13);
    background-image: -moz-linear-gradient(top, #38d119, #138f13);
    background-image: -ms-linear-gradient(top, #38d119, #138f13);
    background-image: -o-linear-gradient(top, #38d119, #138f13);
    background-image: linear-gradient(to bottom, #38d119, #138f13);
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    font-family: Arial;
    color: #fff;
    font-size: 17px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  .btn:hover {
    background: #138f13;
    background-image: -webkit-linear-gradient(top, #138f13, #38d119);
    background-image: -moz-linear-gradient(top, #138f13, #38d119);
    background-image: -ms-linear-gradient(top, #138f13, #38d119);
    background-image: -o-linear-gradient(top, #138f13, #38d119);
    background-image: linear-gradient(to bottom, #138f13, #38d119);
    text-decoration: none;
  }
  .header-top-phone {
    font-family: 'MuseoSans', 'Open Sans', Arial, sans-serif;
    color: #000;
    line-height: 24px;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    white-space: nowrap;
  }
  .header-top-phone p {
    font-size: 10px;
    font-size: 17px;
    color: #777;
  }
  .social {
    padding: 30px;
    display: none;
  }
  .social-mobile {
    display: flex;
    flex-direction: row;
  }
  .social-mobile i {
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 13px;
  }
  .social-mobile a {
    color: #111;
  }
  nav {
    width: 100%;
    background: #eee;
    text-align: center;
    margin-top: 40px;
    display: none;
  }
  .nav-menu ul li {
    display: inline;
    text-transform: uppercase;
    padding-left: 40px;
  }
  .nav-menu a {
    color: #111;
    font-family: 'MuseoSans', 'Open Sans', Arial, sans-serif;
    text-decoration: none;
    font-size: 20px;
  }
  ul {
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style: none;
  }
  ul li {
    display: inline-block;
    margin-right: -4px;
    position: relative;
    cursor: pointer;
  }
  ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #111;
    padding: 15px 20px;
    display: block;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    font-family: 'MuseoSans', 'Open Sans', Arial, sans-serif;
  }
  ul li a.arrow::after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #333;
    content: "";
    position: absolute;
    right: 5px;
    top: 45%;
    z-index: 999;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  ul li:hover a.arrow::after {
    border-top-color: #fff;
  }
  ul li:hover a {
    background: #fff;
    color: #111;
  }
  ul li ul {
    padding: 0;
    position: absolute;
    top: 48px;
    left: 0;
    width: 200px;
    -webkit-box-shadow: 4px 1px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 4px 1px 1px rgba(0,0,0,0.3);
    box-shadow: 4px 1px 1px rgba(0,0,0,0.3);
    opacity: 0;
    visibility: hidden;
  }
  ul li ul li {
    background: #fff;
    display: block;
    color: #111;
    height: 0px;
    overflow: hidden;
    -webkit-transiton: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
  }
  ul li:hover ul li {
    height: auto;
  }
  ul li ul li:hover a {
    background: #eee;
  }
  ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  .banner-top {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 300px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/MG_2259.jpg");
    background-size: cover;
  }
  .banner-top-text {
    font-size: 23px;
    text-align: center;
    width: 450px;
    margin: 0 auto;
    vertical-align: middle;
    color: #fff;
    font-family: 'MuseoSans', 'Open Sans', Arial, sans-serif;
  }
  #modal1 {
    display: none;
  }
  .modal_div {
    width: 300px;
    height: 100vh;
    background: #fff;
    position: fixed;
    opacity: 0;
    z-index: 5;
    padding: 20px 10px;
    top: 0;
    display: none;
  }
  .modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 19px;
    cursor: pointer;
    display: block;
    font-size: 27px;
  }
  #overlay {
    z-index: 3;
    position: fixed;
    background-color: #000;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
  }
  .kalendar-top {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 600px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/102812261258edb55fc2809.jpg");
    background-size: cover;
  }
  .kalendar-top-text {
    font-size: 43px;
    text-align: center;
    width: 900px;
    margin: 0 auto;
    vertical-align: middle;
    color: #fff;
    font-family: 'MuseoSans', 'Open Sans', Arial, sans-serif;
  }
  .kalendar-top-text p {
    font-size: 19px;
    text-align: center;
  }
  .kalendar-forms {
    width: 100%;
    text-align: center;
  }
  label {
    font-size: 16px;
  }
  input {
    font-size: 16px;
    padding: 10px;
    width: 80%;
  }
  .clear {
    padding: 10px;
  }
  .input-p {
    padding-top: 30px;
  }
  input[type=submit]:hover {
    padding: 5px 15px;
    background: #e8ff67;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 250px;
    color: #111;
    height: 50px;
    border: 2px solid #adffcf;
  }
  input[type=submit] {
    padding: 5px 15px;
    background: #20a100;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 250px;
    color: #fff;
    height: 50px;
    border: 2px solid #adffcf;
  }
  .title-style1,
  h1 {
    display: block;
    font-size: 41px;
    line-height: 40px;
    font-weight: 100;
    margin: 40px 0;
    color: #111;
  }
  .banner-top-text {
    font-size: 28px;
    text-align: center;
    width: 400px;
    margin: 0 auto;
    vertical-align: middle;
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif !important;
    line-height: 30px;
  }
  .block-top-text {
    background: #eee;
    padding: 20px;
    font-size: 19px;
    font-family: 'PT Sans', sans-serif;
  }
  .block-top-text1 {
    padding: 20px;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
  }
  .block-top-text-victory {
    margin: 20px;
    font-size: 17px;
    font-family: 'PT Sans', sans-serif;
    line-height: 30px;
  }
  .block-top-text1 h2 {
    color: #20a100;
    padding: 30px 30px 30px 0;
    font-family: 'Open Sans Condensed', sans-serif !important;
    font-size: 25px !important;
  }
  .block-top-text-victory h2 {
    color: #111;
    font-family: 'Open Sans Condensed', sans-serif !important;
    font-size: 25px !important;
    line-height: 35px;
  }
  .block-top-text-adress {
    background: #eee;
    margin: 20px 20px 20px 0;
    padding: 20px;
  }
  .block-top-text-adress span {
    color: #111;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6a6768;
    color: #fff;
    width: 100%;
    height: 150px;
    margin: 40px 40px 0 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 19px;
  }
  #f-menu a {
    color: #fff;
    font-size: 19px;
    font-family: 'Open Sans Condensed', sans-serif;
  }
  #f-menu a:hover {
    color: #fff;
    font-size: 19px;
    background-color: #6a6768;
  }
}
@media screen and (max-width: 319px) {
  header {
    max-width: 650px;
    width: 100%;
    height: auto;
    background: #fff;
    margin: 0 auto;
  }
  .root-page-style {
    margin: 0 auto;
    max-width: 1300px;
    background: #fff;
  }
  .nav-mobile {
    width: 100%;
    background: #eee;
    text-align: center;
    margin-top: 40px;
  }
  .header_top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .header-top-logo {
    padding-top: 30px;
    text-align: center;
  }
  .header-top-logo img {
    width: 80%;
    text-align: center;
  }
  .header-top-text {
    font-family: 'MuseoSans', 'Open Sans', Arial, sans-serif;
    color: #000;
    font-size: 20px;
    text-align: center;
    color: #fff;
    white-space: nowrap;
    padding: 20px;
  }
  .btn {
    background: #38d119;
    background-image: -webkit-linear-gradient(top, #38d119, #138f13);
    background-image: -moz-linear-gradient(top, #38d119, #138f13);
    background-image: -ms-linear-gradient(top, #38d119, #138f13);
    background-image: -o-linear-gradient(top, #38d119, #138f13);
    background-image: linear-gradient(to bottom, #38d119, #138f13);
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    font-family: Arial;
    color: #fff;
    font-size: 17px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  .btn:hover {
    background: #138f13;
    background-image: -webkit-linear-gradient(top, #138f13, #38d119);
    background-image: -moz-linear-gradient(top, #138f13, #38d119);
    background-image: -ms-linear-gradient(top, #138f13, #38d119);
    background-image: -o-linear-gradient(top, #138f13, #38d119);
    background-image: linear-gradient(to bottom, #138f13, #38d119);
    text-decoration: none;
  }
  .header-top-phone {
    font-family: 'MuseoSans', 'Open Sans', Arial, sans-serif;
    color: #000;
    line-height: 24px;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    white-space: nowrap;
  }
  .header-top-phone p {
    font-size: 10px;
    font-size: 17px;
    color: #777;
  }
  .social {
    padding: 30px;
    display: none;
  }
  .social-mobile {
    display: flex;
    flex-direction: row;
  }
  .social-mobile i {
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 13px;
  }
  .social-mobile a {
    color: #111;
  }
  nav {
    width: 100%;
    background: #eee;
    text-align: center;
    margin-top: 40px;
    display: none;
  }
  .nav-menu ul li {
    display: inline;
    text-transform: uppercase;
    padding-left: 40px;
  }
  .nav-menu a {
    color: #111;
    font-family: 'MuseoSans', 'Open Sans', Arial, sans-serif;
    text-decoration: none;
    font-size: 20px;
  }
  ul {
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style: none;
  }
  ul li {
    display: inline-block;
    margin-right: -4px;
    position: relative;
    cursor: pointer;
  }
  ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #111;
    padding: 15px 20px;
    display: block;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    font-family: 'MuseoSans', 'Open Sans', Arial, sans-serif;
  }
  ul li a.arrow::after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #333;
    content: "";
    position: absolute;
    right: 5px;
    top: 45%;
    z-index: 999;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  ul li:hover a.arrow::after {
    border-top-color: #fff;
  }
  ul li:hover a {
    background: #fff;
    color: #111;
  }
  ul li ul {
    padding: 0;
    position: absolute;
    top: 48px;
    left: 0;
    width: 200px;
    -webkit-box-shadow: 4px 1px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 4px 1px 1px rgba(0,0,0,0.3);
    box-shadow: 4px 1px 1px rgba(0,0,0,0.3);
    opacity: 0;
    visibility: hidden;
  }
  ul li ul li {
    background: #fff;
    display: block;
    color: #111;
    height: 0px;
    overflow: hidden;
    -webkit-transiton: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
  }
  ul li:hover ul li {
    height: auto;
  }
  ul li ul li:hover a {
    background: #eee;
  }
  ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  .banner-top {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 300px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/MG_2259.jpg");
    background-size: cover;
  }
  .banner-top-text {
    font-size: 23px;
    text-align: center;
    width: 450px;
    margin: 0 auto;
    vertical-align: middle;
    color: #fff;
    font-family: 'MuseoSans', 'Open Sans', Arial, sans-serif;
  }
  #modal1 {
    display: none;
  }
  .modal_div {
    width: 300px;
    height: 100vh;
    background: #fff;
    position: fixed;
    opacity: 0;
    z-index: 5;
    padding: 20px 10px;
    top: 0;
    display: none;
  }
  .modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 19px;
    cursor: pointer;
    display: block;
    font-size: 27px;
  }
  #overlay {
    z-index: 3;
    position: fixed;
    background-color: #000;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
  }
  .kalendar-top {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 600px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/102812261258edb55fc2809.jpg");
    background-size: cover;
  }
  .kalendar-top-text {
    font-size: 30px;
    text-align: center;
    width: 900px;
    margin: 0 auto;
    vertical-align: middle;
    color: #fff;
    font-family: 'MuseoSans', 'Open Sans', Arial, sans-serif;
  }
  .kalendar-top-text p {
    font-size: 19px;
    text-align: center;
  }
  .kalendar-forms {
    width: 100%;
    text-align: center;
  }
  label {
    font-size: 16px;
  }
  input {
    font-size: 16px;
    padding: 10px;
    width: 80%;
  }
  .clear {
    padding: 10px;
  }
  .input-p {
    padding-top: 30px;
  }
  input[type=submit]:hover {
    padding: 5px 15px;
    background: #e8ff67;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 200px;
    color: #111;
    height: 50px;
    border: 2px solid #adffcf;
  }
  input[type=submit] {
    padding: 5px 15px;
    background: #20a100;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 200px;
    color: #fff;
    height: 50px;
    border: 2px solid #adffcf;
    margin: 10px;
  }
  .title-style1,
  h1 {
    display: block;
    font-size: 35px;
    line-height: 40px;
    font-weight: 100;
    margin: 40px 0;
    color: #111;
  }
  .banner-top-text {
    font-size: 27px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    vertical-align: middle;
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif !important;
    line-height: 28px;
  }
  .block-top-text1 {
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
  }
  .block-top-text-victory {
    margin: 20px;
    font-size: 17px;
    font-family: 'PT Sans', sans-serif;
    line-height: 30px;
  }
  .block-top-text1 h2 {
    color: #20a100;
    padding: 30px 30px 30px 0;
    font-family: 'Open Sans Condensed', sans-serif !important;
    font-size: 25px !important;
  }
  .block-top-text-victory h2 {
    color: #111;
    font-family: 'Open Sans Condensed', sans-serif !important;
    font-size: 25px !important;
    line-height: 35px;
  }
  .block-top-text-adress {
    background: #eee;
    margin: 20px 20px 20px 0;
    padding: 20px;
  }
  .block-top-text-adress span {
    color: #111;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #6a6768;
    color: #fff;
    width: 100%;
    height: 100px;
    margin: 40px 40px 0 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 19px;
  }
  #f-menu a {
    color: #fff;
    font-size: 19px;
    font-family: 'Open Sans Condensed', sans-serif;
  }
  #f-menu a:hover {
    color: #fff;
    font-size: 19px;
    background-color: #6a6768;
  }
}
